# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vscode/ipch/*
doc/gate_schematic.s#2
doc/gateCustomPartLibrary.l#3
doc/gateCustomPartLibrary.l#2
doc/gateCustomPartLibrary.l#1
Trace 2019-05-24.txt
doc/gate_schematic.s#1
